.categories-slider {
    display: flex;

    justify-content: space-between;
    
    position: sticky;
    top:0;
    background-color: black;

    .categories-container {
        
        display: flex;   
        justify-content: flex-start;

        overflow:hidden;
        width: 100%;

        .categories {
            align-items: center;
            display: flex;
        }
    }

    .right-aligned {
        justify-content: flex-end;
    }

    .arrow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;

        button {
            border-radius: 50%;
            border-style: none;
            color: white;
            background-color: black;
            width: 2rem;
            height: 2rem;
            font-size: 1.4rem;
            font-weight: bolder;
            
            user-select: none;
        }

        .disabled {
            pointer-events:none;
            color: gray;
            font-weight: 100;
        }
    }

    .hidden {
        display: none;
    }
   
}