.favorites {

    display: flex;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: black;
    }
    
    &::-webkit-scrollbar-thumb {
        background: gray; 
    }

    &__placeholder {
    
        color: white;
        align-self: center;
        width: 50%;
        line-height: 3rem;
        font-size: 1.5rem;
        text-align: center;
    }
}

