.searching {

    display: flex;
    flex-direction: column;
    height: 100%;

    .searcher-container {
        display: flex;
        width: 30rem;
        align-self: center;
        margin: 1rem 0 1rem 0;
        
    }   
    .grid-wrapper {

        width: 100%;
        height: 100%;
        background-color: black;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0.8rem;
            background-color: black;
        }
        
        &::-webkit-scrollbar-thumb {
            background: grey; 
        }
    
    }
    
}
