.about {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
    border: 1px solid white;

    a {
        color: white;
        text-decoration: none;
    }
    h2 {
        text-decoration: underline;
    }

    h3 {
        margin: 2rem 0 1rem 0;
        text-decoration: underline;
    }
}