.discover {

    display: flex;
    justify-content: center;
    height: 100%;
    
    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: black;
    }
    
    &::-webkit-scrollbar-thumb {
        background: gray; 
    }

    
}

