.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    
    display: none;
    justify-content: center;
    align-items: center;

    .modalContainer {
        position: relative;
        width: 60%;
        min-width: 40rem;
        height: 85%;
        background-color: white;
        
        .modalContent {
            height: 100%;
        }

        .closeButton {
            width: 60px;
            height: 20px;
            position: absolute;
            right: 0;
            top: -20px;
            background-color: white;
            color: black;
            font-weight: bold;
            border-radius: 0.3rem 0.3rem 0 0;
            border-width: 0;
            &:hover {
                cursor: pointer;
                background-color: black;
                color: white;
            }
        }

    }

}

.modalBackground.isOpen {
    display: flex;
}