.trending {
    height: 100%;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: black;
    }
    
    &::-webkit-scrollbar-thumb {
        background: gray; 
    }
}
