.cards-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    justify-content: space-between;
    justify-items:center;
    gap: 0.5rem;
    
    //border-color: blue;
    //border-style: solid;
    //border-width: 0.5px;
}

.extended-cards-container {
    grid-template-columns: repeat(5,1fr);
}