.category {
    width: 10rem;
    margin: auto;
    background-color: grey;
    color: black;
    border-radius: 5px;
    text-align: center;
    line-height: 3rem;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.selected {
    background-color: white;
    font-weight: bolder;
}