.categories-slider {
    display: flex;
    
    justify-content: space-between;
    /* align-items: center; */
    
    position: sticky;
    top:0;
    background-color: white;

    /* This is temporal*/    
    /* border-color: yellow;
    border-style: solid;
    border-width: 0.3px; */

   

    .categories-container {
        
        display: flex;   
        justify-content: flex-start;   
        overflow:hidden;
        width: 100%;
        

        .categories {
            align-items: center;
            display: flex;
            /* transform: translate(-50%); */
        }
    }

    .left-aligned {
        display: flex;
        justify-content: flex-start;
        background-color: red;
    }

    .right-aligned {
        display: flex;
        justify-content: flex-end;
        background-color: green;
    }

    .arrow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;

        button {
            border-radius: 50%;
            border-style: none;
            color: white;
            background-color: black;
            width: 2rem;
            height: 2rem;
            font-size: 1.4rem;
            font-weight: bolder;
            
            user-select: none;
        }

        .disabled {
            /* display: none; */
            pointer-events:none;
            color: gray;
            font-weight: 100;
        }
    }

    .hidden {
        display: none;
    }
   
}