.categories {
    display: flex;
    /* flex-wrap: nowrap; */
        /* width: auto; */
    /* justify-content: flex-start;*/
    align-items: center;
    /* flex-wrap: wrap; */
    /* overflow: hidden; */
    /* align-items: center; */
    position: sticky;
    top:0;
    background-color: white;

    /* overflow-x:visible; */

    border-color: yellow;
    border-style: solid;
    border-width: 0.3px;

}
