.header {
    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    
    .logoContainer {
        width: 32rem;
        padding-left: 2rem;
    }

    @media only screen and (max-width: 600px) {
        grid-column-start: 1;
        grid-column-end: 2;

        
        .logoContainer {
            width: 16rem;
            //padding-left: 2rem;
        }
    }
}