.menu-item {

    display: flex;
    align-items: center;
        
    .item-icon {
        margin: 0 0.5rem 0 0.5rem;
        img {
            width: 1.5rem;
        }
    }

    .item-title {
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
}