.menuItem {

    display: flex;
    align-items: center;
        
    .itemIcon {
        margin: 0 0.5rem 0 0.5rem;
        img {
            width: 1.5rem;
        }
    }

    .itemTitle {
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
}