.menu-button {
    width: 40px;
    height: 40px;
    border-radius: 50px;

    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    
    /* place-content: center; */
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-out;
    &:active {
        
        background-color: gray;
        
    }

    &:hover {
        cursor: pointer;
    }

    div {
        margin: 3px;
        width: 25px;
        height: 1px;
        background-color: black;
    }
}