.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    
    display: none;
    justify-content: center;
    align-items: center;

    .modal-container {
        position: relative;
        width: 50%;
        min-width: 40rem;
        height: 85%;
        background-color: white;
        
        .modal-content {
            height: 100%;
        }

        .close-button {
            width: 60px;
            height: 30px;
            position: absolute;
            right: 0;
            top: -30px;
            background-color: black;
            color: white;
            border-radius: 15px 15px 0px 0px;
            
            &:hover {
                cursor: pointer;
            }
        }

    }

}

.modal-background.is-open {
    display: flex;
}