.movieInfo {

    height: 100%;
    box-shadow: 0px 0px 0.8rem 0px white;
    
    .movieInfoContainer {
        display: flex;
        height: 100%;

        .detailContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            .overview {
                margin-bottom: 1rem;
            }

            p span {
                font-weight: bold;
            }
            
            button {
                background-color: green;
                color: white;
                font-size: 1rem;
                letter-spacing: 1px;
                border: none;
                border-radius: 0.5rem;
                height: 3rem;
                width: 80%;

                &:hover {
                    cursor: pointer;
                }
            }
            .removeButton {
                background-color: red;
            }
        }

        .posterContainer {
            
            img {
                height: 100%;
                width: auto;
            }
        }
    }
}