.sidebar {
    grid-area: sidebar;
    width: 100%;

    border-style: solid;
    border-color: purple;
    border-width: 1px;
}

.menu-item {
    display: flex;

    
}

.menu-item :first-child{
    padding-top: 18px;
    width: 50px;
    font-size: 40px;
}