.sidebar {

    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
    .link {
        text-decoration: none;
        color: white;
    }

    .active {
        color: yellow;
    }

    .menu-item {
        display: flex;
        height: 5rem;
    }

}

.express-sidebar {

    .menu-item .item-title {

        display: none;

    }

    .menu-item .item-icon img{

        width: 3rem;
        height: 3rem;
    }

}